* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #adfeff;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #ef232d;
    background-color: #f2f985;
    animation: blurToClear 2s forwards;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  #msg {
    color: #191913;
  }

  .blur-to-clear {
    font-size: 35px;
    color: #333;
    animation: blurToClear 1s forwards;
}

@keyframes blurToClear {
    from {
        filter: blur(10px); /* Start with a blur */
        opacity: 0;        /* Optional: Start with text invisible */
    }
    to {
        filter: blur(0);   /* End with no blur */
        opacity: 1;        /* Optional: End with text fully visible */
    }
}